<div class="container-fluid bg-dark mt-2">
  <div class="row justify-content-center pt-3">
    <div class="col-xs-12 col-12 col-md-4 form-group">
      <input class="form-control" placeholder="Datepicker" [(ngModel)]="startDate" name="startDate" bsDatepicker
        [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-blue' }" [maxDate]="endDate">
    </div>

    <div class="col-xs-12 col-12 col-md-4 form-group">
      <input class="form-control" placeholder="Datepicker" [(ngModel)]="endDate" name="endDate" bsDatepicker
        [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-blue' }" [minDate]="startDate">
    </div>
  </div>
  <div class="form-inline justify-content-center">
    <div class="col-xs-12 col-12 col-md-4 form-group ">
      <pre
        class="text-light">Start date : {{startDate | date : 'dd/MM/yyyy'}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp; End date : {{endDate | date : 'dd/MM/yyyy'}}</pre>
    </div>
  </div>

</div>